# Función map()

In [1]:
numeros = [2,5,10,23,50,33]

def doblar(numero):
    return numero *2

map(doblar, numeros)

In [2]:
doblados = list(map(doblar, numeros))

In [3]:
print(doblados)

[4, 10, 20, 46, 100, 66]

In [4]:
print(list(map(lambda numero: numero*2, numeros)))

[4, 10, 20, 46, 100, 66]

In [5]:
a = [1,2,3,4,5]

In [6]:
b = [6,7,8,9,10]

In [7]:
doble_argumento = map(lambda x,y: x*y, a,b)

In [8]:
print(list(doble_argumento))

[6, 14, 24, 36, 50]

In [10]:
c = [11,12,13,14,15]

In [11]:
list(map(lambda x,y,z: x*y*z, a,b,c))

[66, 168, 312, 504, 750]

In [16]:
class Persona:
    
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad
        
    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)

    
personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Manuel", 78),
    Persona("Eduardo", 12)
]

In [13]:
def incrementar(persona):
    persona.edad += 1
    return persona

personas = map(incrementar, personas)

In [14]:
print(personas)

<map object at 0x7fa5443870d0>

In [15]:
print(list(personas))

[<__main__.Persona object at 0x7fa5443875e0>, <__main__.Persona object at 0x7fa544387610>, <__main__.Persona object at 0x7fa544387730>, <__main__.Persona object at 0x7fa5443874f0>]

In [18]:
personas_incrementadas = map(lambda persona: Persona(persona.nombre, persona.edad+1), personas)

In [19]:
for persona in personas_incrementadas:
    print(persona)

Juan de 36 años
Marta de 17 años
Manuel de 79 años
Eduardo de 13 años