In [1]:
valor =  input()

algo

In [2]:
valor

'algo'

In [3]:
valor = input()

100

In [4]:
valor

'100'

In [5]:
valor = input("Introduce un valor")

Introduce un valor123

In [6]:
valor

'123'

In [7]:
valor  + 100

TypeError: can only concatenate str (not "int") to str

In [8]:
valor =  input("Introduce un numero entero: ")

Introduce un numero entero: 500

In [9]:
valor = int(valor)

In [10]:
valor = valor + 100

In [11]:
valor

600

In [12]:
valor = valor + 1.2

In [13]:
valor

601.2

In [14]:
valor = input("Introduce un valor: ")

Introduce un valor: 100.5

In [15]:
valor = int(valor)

ValueError: invalid literal for int() with base 10: '100.5'

In [16]:
valor = float(valor)

In [17]:
valor

100.5

In [18]:
valor = valor + 10

In [19]:
valor

110.5

In [21]:
valor = float(input("introduce un numero decimal entero: "))

introduce un numero decimal entero: 100